#PROJECT_WEBINA { width:1200px; height:800px; padding:0 12px; }
#PROJECT_WEBINA #LANDING_INPUT input { padding:5px; }

#PROJECT_WEBINA h2 { text-align:center; }

/* 입력페이지 */
#LANDING_INPUT { width:calc(50% - 50px); height:100%; padding:10px; }
.header-input { width:100%; padding:8px; margin:12px 0; }

.video-box { width:100%; background:rgba(255,255,255,0.1); border-radius:10px; margin-top:12px; cursor:pointer; transition:.3s; overflow:hidden; }
.video-box::before { padding-top:56.25%; content:''; }
.video-box:hover { opacity:0.8; }
.video-box iframe { width:100%!important; }


.content-box { width:100%; background:rgba(255,255,255,0.1); color:#fff; margin-top:12px; padding:8px; font-size:12px; min-height:200px; border-radius:10px; }

.consult-box { width:100%; background:#6700E7; padding:5px 10px; border-radius:10px; margin-top:12px; }
.consult-box p { width:100%; }
.consult-box input { background:#fff; color:#444; width:100%; margin:4px 0; font-size:12px; padding:5px; }
.consult-box textarea { margin-top:8px; }
.consult-box button { margin-top:8px; }
.consult-box .btn_delete { transform: rotate(45deg); font-size:16px; margin-left:4px; }
#INPUT_CONSULT_TITLE { width:60%; }

#APPLY_WRITE_THINGS { margin-top:12px; }

/* 비디오 팝업 */
#PROJECT_WEBINA .popup-container { width:100vw; height:100vh; position:fixed; background:rgba(0,0,0,0.8); top:0; left:0; z-index:100; }
#PROJECT_WEBINA .popup { background:#6700E7; width:80%; }
#PROJECT_WEBINA .popup input { width:100%; }

.arrow-box { 
	display:flex;
	justify-content: center;
	align-items: center;
	width:100px;
}

/* 결과페이지 */
#LANDING_RESULT { width:calc(50% - 50px); height:100%; padding:10px; }

#HEADER_RESULT { width:100%; padding:5px; margin:12px 0; font-size:30px; }
#BTN_SUBMIT { margin-top:12px; }
